.DS_Store
__pycache__
*.pkl
*.gexf
*data_exports/*
*/api/modules/_trash/
*/api/modules/concepts/
.idea/
_trash/
_local_data/
venv/
resources/certificates/*.crt
resources/credentials/*
config.yaml
config_switch.yaml
geckodriver.log
