uvicorn
fastapi
sqlalchemy
tqdm
loguru
rich
elasticsearch==8.15.1
Levenshtein
requests
termcolor
numpy
pandas
tabulate
pyyaml
pymysql
flatten_dict
dictdiffer
graphai-client@git+https://github.com/epflgraph/graphai-client.git
